@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bitter:ital,wght@0,100..900;1,100..900&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Yeseva+One&family=Caveat:wght@400..700&family=Indie+Flower&family=Italianno&family=Parisienne&family=Reenie+Beanie&family=Tangerine:wght@400;700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "flyonui";


@keyframes typewriter-dots {

    0%,
    16% {
        opacity: 0;
    }

    20%,
    100% {
        opacity: 1;
    }
}

@keyframes typewriter-reset {

    0%,
    90% {
        opacity: 1;
    }

    91%,
    100% {
        opacity: 0;
    }
}


.josefin-slab {
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}


.bodoni-moda {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.bitter {
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.amatic-sc {
    font-family: "Amatic SC", sans-serif;
    font-weight: 900;
    font-style: normal
}

.yeseva-one {
    font-family: "Yeseva One", serif;
    font-weight: 700;
    font-style: normal;
}

.caveat {
    font-family: "Caveat", cursive;
    font-weight: 700;
    font-style: normal;
}

.italianno {
    font-family: "Italianno", cursive;
    font-weight: 700;
    font-style: normal;
}

.parisienne {
    font-family: "Parisienne", cursive;
    font-weight: 700;
    font-style: normal;
}

.tangerine {
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
}

.indie-flower {
    font-family: "Indie Flower", cursive;
    font-weight: 700;
    font-style: normal;
}

.reeenie-beanie {
    font-family: "Reenie Beanie", cursive;
    font-weight: 700;
    font-style: normal;
}

.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-variation-settings:
        "wdth" 100;
}

.poppins {
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
}